name: Security Scan (Checkov)
 
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
 
jobs:
  checkov:
    runs-on: ubuntu-latest
 
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
 
    - name: Install Checkov
      run: pip install checkov
 
    - name: Run Checkov scan
      run: |
        checkov -d infra --quiet